{% extends 'main.html' %}
{% block title %}See more  | MSMS{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'user_home.css' %}" rel="stylesheet">
<link href="{% static 'users_table.css' %}" rel="stylesheet">



<div class = "container">
    {# table showing student details #}
    <div class = "col">
        <h1>
            Student Details:
        </h1>
    </div>
    <table class="table table-light table-bordered table-hover table-sm table-striped">
        <thead>
        <tr class=tableHeader>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Balance</th>
            {% if user.is_superuser %}
                <th scope="col">Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.balance }}</td>
            {% if user.is_superuser %}
                <td><a href = "{% url 'edit_user' user_id=user.id %}" class="btn btn-outline-danger">Edit</a></td>
            {% endif %}
        </tr>
    </table>



<!-- Approved Requests (Courses)  div -->
    <div>
      <div class = "row">
        <div class = "col">
          <h1>
            Student's Courses:
          </h1>
        </div>
      </div>

      <div class = "row">
        <table class="table table-light table-bordered table-hover table-sm table-striped">
          <thead>
            <tr class="tableHeader">
              <th scope="col">#</th>
              <th scope="col">Student name</th>
              <th scope="col">Class content</th>
              <th scope="col">Submission date</th>
              <th scope="col"></th>
              <th scope="col" style="width:10%"></th>
              <th scope="col" style="width:10%"></th>
            </tr>
          </thead>
          {% for request in approved %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{% if request.child %}{{ request.child.name }}{% else %}{{request.user.first_name}} {{request.user.last_name }}{% endif %}</td>
              <td>{{ request.lesson_content }}</td>
              <td>{{ request.submission_date }}</td>
              <td></td>
              <td><a href = "{% url 'approve' requestId=request.request_id %}" class="btn btn-outline-warning">Edit</a></td>
              <td><a href = "{% url 'delete' requestId=request.request_id %}" class="btn btn-outline-warning">Delete</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">There are currently requests that have been approved</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
<!-- Pending Requests div -->
    <div>
        <div class = "row">
          <div class = "col">
            <h1>
              Pending Requests:
            </h1>
          </div>
        </div>

        <div class = "row">
          <table class="table table-light table-bordered table-hover table-sm table-striped">
            <thead>
              <tr class="tableHeader">
                <th scope="col">#</th>
                <th scope="col">Child</th>
                <th scope="col">Class content</th>
                <th scope="col">Submission date</th>
                <th scope="col" style="width:2%"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            {% for request in pending %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{% if request.child %}{{ request.child.name }}{% else %}None{% endif %}</td>
              <td>{{ request.lesson_content }}</td>
              <td>{{ request.submission_date}}</td>
              <td></td>
              <td><a href = "{% url 'approve' requestId=request.request_id %}" class="btn btn-outline-warning">Approve</a></td>
              <td><a href = "{% url 'delete' requestId=request.request_id %}" class="btn btn-outline-warning">Delete</a></td>
            </tr>

            {% empty %}
              <td colspan="7">There are currently no requests waiting to be approved</td>
            {% endfor %}
          </table>
        </div>

        <div class = "row">
          <div class = "col">
            <a href="{% url 'make_request' %}" class="btn btn-lg btn-info" id="requestButton">
             Add a request
            </a>
          </div>
        </div>

    </div>
<!-- Chilren Table div -->
    <div>
      {% include 'partials/children_table.html' %}
      <div class = "row">
        <div class = "col">
          <a href="{% url 'register_child' %}" class="btn btn-lg btn-info" id="addChildButton">
            Register New Child
          </a>
        </div>
      </div>
    </div>
<!-- Student Balance div -->
    <div>
      <div class = "row">
        <div class = "col">
          <h1>
            Student balance:
          </h1>
          <h2>
            {{ balance }}
          </h2>
        </div>
      </div>
    </div>
<!-- Invoices div -->
    <div>
        <div class = "row">
          <div class = "col">
            <h1>
              Student invoices:
            </h1>
          </div>
        </div>

        <div class = "row">
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Request ID</th>
                <th scope="col">Amount To Be Paid</th>
                <th scope="col">Issued on</th>
              </tr>
            </thead>
            {% for invoice in invoices %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ invoice.invoice_number }}</td>
              <td>{{ invoice.request.request_id }}</td>
              <td>{{ invoice.amount_to_be_paid }}</td>
              <td>{{ invoice.created_date }}</td>
            </tr>
            {% empty %}
              <td colspan="5">There are currently no pending invoices.</td>
            {% endfor %}
          </table>
        </div>
    </div>
<!-- Transactions div -->
    <div>
        <div class = "row">
          <div class = "col">
            <h1>
              Student's transactions:
            </h1>
          </div>
        </div>

        <div class = "row">
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">For Invoice No.</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Transaction Date</th>
              </tr>
            </thead>
            {% for transaction in transactions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ transaction.invoice.invoice_number }}</td>
              <td>{{ transaction.amount }}</td>
              <td>{{ transaction.date_paid }}</td>
            </tr>
            {% empty %}
              <td colspan="4">There are currently no transactions made.</td>
            {% endfor %}
          </table>
        </div>
        <div class = "row">
          <div class = "col">
            <a href= '{% url 'create_transaction' %}' class="btn btn-lg btn-secondary">
            Create transaction
            </a>
          </div>
        </div>
    </div>

</div>



{% endblock %}
